<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ブログ一覧</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header>
		<!--スマートフォン-->
		<nav class="menu">
			<div class="logo">
				<a href="#"><img th:src="@{/images/logo.png}" alt=""></a>
			</div>
			<div class="menu-contents">
				<div class="menu-inner"></div>
					<ul>
						<li class="menu__item"></li>
						<li class="menu__item"><a href="">ブログ一覧</a></li>
					</ul>
				</div>
				<div class="menu-toggle_btn">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</nav>
		<!--pc-->
		<nav class="pc">
			<div class="pc-inner">
				<div class="pc-logo">
					<a href=""><img th:src="@{/images/logo.png}" alt=""></a>
				</div>
				<ul class="pc-list">
					<li class="pc-list__item" th:text="${accountName}"></li>
					<li class="pc-list__item"><a th:href="@{/blog/list}">ブログ一覧</a></li>
					<li class="pc-list__item"><a th:href="@{/account/logout}">ログアウト</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<article>
			<h2>ブログ一覧</h2>
			<section class="register-item">
				<div class="all-view-register__button">
					<a th:href="@{/blog/register}" class="btn btn--orange btn--radius">ブログ登録</a>
				</div>
			</section>
			<ul class="products">
				<li th:each="blog:${blogList}">
					<a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">
						<img th:src="@{/blog-img/{imagePath}(imagePath=${blog.blogImage})}" alt="写真">
						<p th:text="${blog.blogTitle}"></p><br>
						<p th:text="${blog.categoryName}"></p>
					</a>
				</li>

			</ul>

		</article>

	</main>
	<footer>
		<div>
			<small>&copy; 2024 Oukeni</small>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="./js/common.js"></script>
</body>

</html>